<!-- Обратите внимание, что схема должна соответствовать той версии phpunit, которую вы используете. Схема - это значение атрибута xsi:noNamespaceSchemaLocation -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/schema/10.0.xsd" bootstrap="vendor/autoload.php">
    <!-- Указываем где размещаются тесты. Секций testsuites может быть более одной. Нужно это для того, чтобы иметь возможность тестировать различные аспекты системы. -->
    <testsuites>
<!--        <testsuite name="Core functionality">-->
<!--            <directory>tests</directory>-->
<!--        </testsuite>-->
        <testsuite name="Core functionality">
            <file>tests/Tasks/TasksAlgorythms/TwoSumThreeTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>